* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Rajdhani", sans-serif;
}

.spacer {
  height: 300px;
}

/*navBar*/

nav {
  width: 100%;
  background-color: #00556b;
  display: flex;
  height: 4.2rem;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav img {
  height: 50%;
  flex-grow: 2;
  align-self: center;
  margin: 0;
  padding: 0;
  border: 0;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-self: center;
  list-style-type: none;
}

#languages {
  justify-content: flex-start;
  margin-left: 3rem;
}

nav ul li {
  margin-right: 1rem;
}

/*Footer*/

footer {
  text-align: center;
  border: 3px;
  border-color: red;
  position: relative;
}

#footer-city {
  background-image: url(../img/index/city.svg);
  width: 100%;
  height: 300px;
  position: absolute;
  top: -100%;
  z-index: -2;
}

#footer-container {
  margin-top: 10%;
  background-color: #244c59;
  height: 300px;
  color: white;
}

#footer-container h1 {
  font-weight: 500;
}

#footer-container h4 {
  font-weight: 100;
}

#footer-cards {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  max-width: 1100px;
  margin-top: 3%;
}

.footer-card {
  width: 400px;
  background-color: white;
  top: 0;
  color: black;
  border-radius: 10px;
}

.footer-card h3 {
  margin: 0;
  margin-top: 3%;
  font-weight: 500;
}

.footer-card-info {
  display: flex;
  margin: 3% 0 5% 7%;
  font-weight: 100;
  align-items: center;
}

.footer-card-info p {
  margin-left: 3%;
  font-size: 1.1rem;
}

.footer-card img {
  width: 7%;
}

/*INDEX*/

/*mainFrame
Cuando consigamos el video, hay que escalarlo para no tener que hacer tramoya con
los position y z-index
*/

#mainFrame {
  color: white;
}

.container {
  position: relative;
}

#mainFrame img {
  width: 100%;
  position: relative;
  top: -4.2rem;
  left: 0;
  z-index: -1;
}

#white {
  background-color: white;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -4.2rem;
  z-index: 3;
  bottom: 50px;
}

#white-fade {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 0, 0, 0)
  );
  position: absolute;
  bottom: 150px;
  height: 300px;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

#mainText {
  position: absolute;
  top: 20%;
  left: 15%;
}

#mainText strong {
  font-weight: 400;
}

#mainFrame-button {
  background-color: #5a99b8;
  width: 180px;
  height: 80px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 15%;
  text-align: center;
  line-height: 80px;
  border-radius: 100px;
}

#mainFrame-button a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 2rem;
}

/* brands*/
#brands {
  max-width: 1100px;
  margin: auto;
}

h2 {
  margin-top: 0rem;
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

#brands ul {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#brands ul li {
  margin: auto;

  overflow: visible;
}

/* benefits */

#benefitsContainer {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}

#benefits h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

.benefits-card {
  text-align: center;
  font-weight: 500;
  height: 450px;
  border-radius: 3%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 0 10px 0 10px;
}

.benefits-card h3 {
  margin-top: 5%;
  font-size: 1.7rem;
  height: 68px;
}

.benefits-card p {
  margin-top: 5%;
  font-size: 1rem;
  height: 84px;
}

.benefits-card ul {
  margin-top: 5%;
  list-style-type: none;
  font-weight: 300;
}

.benefits-card ul * {
  margin: 0px;
}

.benefits-cardimg {
  margin-top: 20%;
  height: 210px;
}

/*Growth process*/

#growth-process {
  max-width: 1100px;
  margin: auto;
}

#growth-process h2 {
  margin-top: 20%;
  margin-bottom: 5%;
}

#growth-process ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#growth-process ul li {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

#growth-process ul li h4 {
  margin-top: 10%;
}

/*Growth Solutions*/

h3 {
  text-align: center;
  margin-top: 5%;
}

#growth-solutions h2 {
  margin-top: 7%;
}

#growth-solutions p {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-weight: 300;
  margin-top: 1%;
  margin-bottom: 2%;
}

#growth-solutions-cards {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

#growth-solutions-cards p {
  max-width: 200px;
}

.growth-solutions-card {
  border-radius: 3%;
  width: 25%;
  height: 280px;
  text-align: center;
  margin-top: 5%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
}

.growth-solutions-card img {
  transform: translateXS(-30%);
}

#growth-solutions-button {
  background-color: #5a99b8;
  width: 180px;
  height: 50px;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  line-height: 50px;
  border-radius: 100px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#growth-solutions-button a {
  text-decoration: none;
  color: white;
}

/*Headquarters*/

#headquarters h2 {
  margin-top: 5%;
}

#headquarters-cards {
  max-width: 1100px;
  justify-items: center;
  display: flex;
  margin: auto;
  margin-top: 4%;
  align-items: center;
}

.headquarters-card {
  background-color: teal;
  text-align: center;
  width: 400px;
  align-items: center;
  margin: auto;
  height: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#headquarters-bsas {
  background-color: lightblue;
}

#headquarters-miami {
  background-color: pink;
}

#headquarters-bsas img {
  width: 80%;
  position: relative;
  bottom: 1.5rem;
}

#headquarters-miami img {
  width: 50%;
  position: relative;
  bottom: 1.5rem;
}

/* PORTFOLIO */

/* Portfolio Top Display */

#portfolio-main-content {
  color: white;
}

#background-desert {
  width: 100%;
  background-image: url(../img/portfolio/cactus-background.svg);
  position: relative;
}

#top-bg {
  width: 100%;
  z-index: -2;
  position: relative;
}

#top-rocket {
  position: absolute;
  width: 100%;
  top: -0%;
  z-index: -1;
}

#portfolio-top-container h1 {
  color: white;
  z-index: 3;
  position: absolute;
  top: 10%;
  text-align: center;
  font-weight: 600;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#portfolio-top-container h3 {
  color: white;
  font-weight: 300;
  z-index: 3;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Portfolio Cards */

#portfolio-cards {
  display: flex;
  margin: auto;
  margin-top: 5%;
  max-width: 1100px;
  justify-content: space-evenly;
}

.portfolio-card {
  border-radius: 3%;
  width: 25%;
  height: 240px;
  text-align: center;
  margin-top: 5%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  background-color: white;
}

.portfolio-card img,
.portfolio-card h2,
.portfolio-card p {
  position: relative;
  top: -70px;
}

.portfolio-card h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.portfolio-card p {
  color: black;
  margin-top: 3%;
  font-weight: 100;
}

/* Portfolio Clients */

#clients {
  color: black;
}

#clients h2 {
  margin-top: 8%;
  text-align: left;
  margin-left: 20%;
  font-size: 2.5rem;
  font-weight: 600;
}

#clients h3 {
  color: black;
  font-weight: 400;
  margin: 0;
  text-align: left;
  margin-left: 20%;
}

#clients ul {
  margin-left: 20%;
  margin-top: 2%;
}

#clients ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1%;
}

/* Portfolio Clients Cards*/

#clients-cards {
  display: flex;
  margin: auto;
  max-width: 1100px;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 20%;
  flex-wrap: wrap;
}

#clients-cards .clients-card {
  width: 300px;
  text-align: center;
  align-self: center;
  justify-content: center;
  margin-top: 2%;
  border-radius: 3%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  background-color: white;
  margin-right: 4%;
}

.clients-card-seemore {
  color: white;
  background-color: #5a99b8;
  width: 50%;
  height: 50px;
  border-radius: 30px;
  margin: auto;
  position: relative;
  display: inline-block;
  line-height: 50px;
  top: 15px;
  font-size: 1.3rem;
  font-weight: 200;
}

#clients-cards .clients-card h3 {
  margin-left: 0;
  text-align: center;
  margin-bottom: 3%;
  font-weight: 700;
}

#clients-cards .clients-card * {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

#clients-cards .clients-card img {
  width: 100px;
  padding-top: 20px;
}

#clients-cards .clients-card .clients-card-img-container {
  height: 175px;
  line-height: 175px;
}

#clients-cards .clients-card h4 {
  font-weight: 100;
  font-size: 1rem;
}

#clients-cards .clients-card .clients-card-percentage {
  color: #7f4d9e;
}

#clients-cards .clients-card .clients-card-hcs {
  color: #5b99b8;
}

#clients-cards .clients-card .clients-card-info {
  display: flex;
  justify-content: space-around;
}

#clients-cards .clients-card .clients-card-sales {
  color: #f47835;
}

#clients-cards .clients-card #clients-card-img-nutraceutica {
  width: 250px;
}

/* Portfolio Background & footer note*/

#background-desert {
  position: absolute;
  bottom: -185%;
  z-index: -1;
}

#portfolio-footer {
  font-size: 1.3rem;
  color: white;
  font-weight: 200;
  position: absolute;
  bottom: -183%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* ABOUT US */

/* About Us: Top Display */

#aboutus-top-img {
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: -1;
}

#aboutus-top h1 {
  font-weight: 600;
  top: 13%;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

/* About Us: Top Quote*/
#aboutus-quote h2 {
  font-weight: 600;
}

#aboutus-quote p {
  text-align: center;
  max-width: 900px;
  margin: auto;
  font-size: 1.8rem;
  margin-top: 3%;
  font-weight: 100;
  background-image: url(../img/aboutus/);
}

#aboutus-quote {
  max-width: 1100px;
  margin: auto;
}

/* About Us: Team*/

#aboutus-team h1 {
  font-weight: 600;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -200%);
}

/* About Us: Background*/

#aboutus-background-book {
  position: absolute;
  top: 100%;
  left: 76%;
  z-index: -1;
}

img#aboutus-background-coffee {
  position: absolute;
  top: 150%;
  z-index: -1;
}

/* About Us: Team Cards*/

#aboutus-team-cards {
  display: flex;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 14%;
}

#aboutus-team-cards .aboutus-team-member-info {
  width: 230px;
  text-align: left;
  align-self: center;
  justify-content: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  background-color: white;
  margin-right: 4%;
}

#aboutus-team-cards .aboutus-team-member-info h3 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline;
}

#aboutus-team-cards .aboutus-team-member-info h4 {
  text-align: left;
  padding-bottom: 5%;
  font-weight: 100;
}

#aboutus-team-cards .aboutus-team-member-img {
  text-align: center;
}

#aboutus-team-cards .aboutus-team-member-img img {
  width: 250px;
}

#aboutus-team-cards .aboutus-team-member-linkedin {
  margin-left: 8%;
}

#aboutus-team-cards .aboutus-team-member-linkedin {
  width: 10%;
}

/* About Us: friends*/

#aboutus-friends #aboutus-friends-title-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
}

#aboutus-friends #aboutus-friends-title-container h1 {
  font-weight: 600;
}

#aboutus-friends #aboutus-friends-imgs {
  display: flex;
  max-width: 1100px;
  margin: auto;
  margin-top: 1%;
  justify-content: space-between;
}

#aboutus-friends-button {
  background-color: #5a99b8;
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 100px;
  margin: auto;
  margin-top: 1%;
}

#aboutus-friends h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

#aboutus-friends-button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

/* PRICING */

/* Pricing: Title */

#pricing-title-container {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 2%;
}

#pricing-title-container h1 {
  font-weight: 600;
}

#pricing-title p {
  margin: auto;
  text-align: center;
  max-width: 600px;
  margin-bottom: 3%;
}

/* Pricing: Columns */

#pricing-columns {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: space-evenly;
}

.pricing-column {
  border-radius: 7px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  background-color: white;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 450px;
}

.pricing-column ul {
  list-style: none;
}

.pricing-column h3 {
  margin-top: 10%;
  margin-bottom: 16%;
}

.pricing-column h2 {
  justify-self: flex-end;
}

#pricing-coupon-container {
  margin: auto;
  text-align: center;
  width: 850px;
}

#pricing-coupon {
  width: 1000px;
  position: absolute;
  margin-top: 3%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#pricing-coupon-text {
  display: flex;
  width: 900px;
  padding-top: 12.3%;
  color: white;
}

#pricing-coupon-text h3 {
  margin: 0;
  text-align: left;
  font-weight: 300;
}

#pricing-coupon-info {
  flex-grow: 1;
}

#pricing-coupon-discount {
  flex-grow: 1;
}

#pricing-coupon-discount h2 {
  display: inline;
  color: white;
  font-weight: 600;
}

#pricing-coupon-discount #pricing-coupon-discount-off {
  color: red;
}
