* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Rajdhani", sans-serif;
}

/*navBar*/

nav {
  width: 100%;
  background-color: #00556b;
  display: flex;
  height: 4.2rem;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav img {
  height: 3rem;
  flex-grow: 2;
  align-self: center;
  margin: 0;
  padding: 0;
  border: 0;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-self: center;
  list-style-type: none;
}

#languages {
  justify-content: flex-start;
  margin-left: 3rem;
}

nav ul li {
  margin-right: 1rem;
}

/*Footer*/

footer {
  text-align: center;
  border: 3px;
  border-color: red;
  position: relative;
}

#footer-city {
  background-image: url(../img/index/city.svg);
  width: 100%;
  height: 300px;
  position: absolute;
  top: -100%;
  z-index: -1;
}

#footer-container {
  margin-top: 10%;
  background-color: #244c59;
  height: 300px;
  color: white;
}

#footer-container h1 {
  font-weight: 500;
}

#footer-container h4 {
  font-weight: 100;
}

#footer-cards {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  max-width: 1100px;
  margin-top: 3%;
}

.footer-card {
  width: 400px;
  background-color: white;
  top: 0;
  color: black;
  border-radius: 10px;
}

.footer-card h3 {
  margin: 0;
  margin-top: 3%;
  font-weight: 500;
}

.footer-card-info {
  display: flex;
  margin: 3% 0 5% 7%;
  font-weight: 100;
  align-items: center;
}

.footer-card-info p {
  margin-left: 3%;
  font-size: 1.1rem;
}

.footer-card img {
  width: 7%;
}

/*INDEX*/

/*mainFrame
Cuando consigamos el video, hay que escalarlo para no tener que hacer tramoya con
los position y z-index
*/

#mainFrame {
  color: white;
}

.container {
  position: relative;
}

#mainFrame img {
  width: 100%;
  position: relative;
  top: -4.2rem;
  left: 0;
  z-index: -1;
}

#white {
  background-color: white;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: -4.2rem;
  z-index: 3;
  bottom: 50px;
}

#white-fade {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 0, 0, 0)
  );
  position: absolute;
  bottom: 150px;
  height: 300px;
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

#mainText {
  position: absolute;
  top: 20%;
  left: 15%;
}

#mainText strong {
  font-weight: 400;
}

#mainFrame-button {
  background-color: #5a99b8;
  width: 180px;
  height: 80px;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 15%;
  text-align: center;
  line-height: 80px;
  border-radius: 100px;
}

#mainFrame-button a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 2rem;
}

/* brands*/
#brands {
  max-width: 1100px;
  margin: auto;
}

h2 {
  margin-top: 0rem;
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

#brands ul {
  margin-top: 3rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#brands ul li {
  margin: auto;

  overflow: visible;
}

/* benefits */

#benefitsContainer {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}

#benefits h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

.benefits-card {
  text-align: center;
  font-weight: 500;
  height: 450px;
  border-radius: 3%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 0 10px 0 10px;
}

.benefits-card h3 {
  margin-top: 5%;
  font-size: 1.7rem;
  height: 68px;
}

.benefits-card p {
  margin-top: 5%;
  font-size: 1rem;
  height: 84px;
}

.benefits-card ul {
  margin-top: 5%;
  list-style-type: none;
  font-weight: 300;
}

.benefits-card ul * {
  margin: 0px;
}

.benefits-cardimg {
  margin-top: 20%;
  height: 210px;
}

/*Growth process*/

#growth-process {
  max-width: 1100px;
  margin: auto;
}

#growth-process h2 {
  margin-top: 20%;
  margin-bottom: 5%;
}

#growth-process ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

#growth-process ul li {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

#growth-process ul li h4 {
  margin-top: 10%;
}

/*Growth Solutions*/

h3 {
  text-align: center;
  margin-top: 5%;
}

#growth-solutions h2 {
  margin-top: 7%;
}

#growth-solutions p {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-weight: 300;
  margin-top: 1%;
  margin-bottom: 2%;
}

#growth-solutions-cards {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

#growth-solutions-cards p {
  max-width: 200px;
}

.growth-solutions-card {
  border-radius: 3%;
  width: 25%;
  height: 280px;
  text-align: center;
  margin-top: 5%;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
}

.growth-solutions-card img {
  transform: translateXS(-30%);
}

#growth-solutions-button {
  background-color: #5a99b8;
  width: 180px;
  height: 50px;
  margin: auto;
  text-align: center;
  margin-top: 3%;
  line-height: 50px;
  border-radius: 100px;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#growth-solutions-button a {
  text-decoration: none;
  color: white;
}

/*Headquarters*/

#headquarters h2 {
  margin-top: 5%;
}

#headquarters-cards {
  max-width: 1100px;
  justify-items: center;
  display: flex;
  margin: auto;
  margin-top: 4%;
  align-items: center;
}

.headquarters-card {
  background-color: teal;
  text-align: center;
  width: 400px;
  align-items: center;
  margin: auto;
  height: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#headquarters-bsas {
  background-color: lightblue;
}

#headquarters-miami {
  background-color: pink;
}

#headquarters-bsas img {
  width: 80%;
  position: relative;
  bottom: 1.5rem;
}

#headquarters-miami img {
  width: 50%;
  position: relative;
  bottom: 1.5rem;
}

/* PORTFOLIO */
